<div class="chat-container">
  <div class="chat-header">
    <img *ngIf="profileImage" [src]="profileImage" alt="Profile Picture" class="profile-picture" />
    <h3 class="ms-3">{{ receiverName }}</h3>
    <input type="file" (change)="uploadProfilePicture($event)" accept="image/*" />

  </div>

  <div class="chat-messages">
    <ng-container *ngFor="let message of messages; let i = index">
  
      <div *ngIf="i === 0 || !isSameDate(messages[i].timestamp, messages[i - 1].timestamp)" class="date-divider">
        {{ message.timestamp | date: 'EEEE' }}
      </div>

      <div [ngClass]="{ 'sent-message': message.sender === sender, 'received-message': message.sender !== sender }">
        <strong>{{ message.sender === sender ? 'You' : receiverName }}:</strong>
        <p>{{ message.content }}</p>
        <!-- <small>{{ message.timestamp | date: 'short' }}</small>  -->
        <!-- <small>{{ message.timestamp | date: 'mediumTime' }}</small>  -->
        <small>{{ message.timestamp | date: 'hh:mm a' }}</small>


      </div>
    </ng-container>
  </div>
  

  <div class="chat-input">  
    <input
      [(ngModel)]="messageContent"
      placeholder="Type your message..."
      (keydown.enter)="sendMessage()"
      aria-label="Type a message"
    />  
    <button (click)="sendMessage()" aria-label="Send Message" [disabled]="!messageContent.trim()">
      <span class="material-icons">send</span>  
    </button>
  </div>
</div>
