

button {
  margin-right: 5px; 
  background-color: azure;
}


mat-paginator {
  margin-top: 20px;
}


@media (max-width: 600px) {
  .container {
    padding: 10px; 
  }
  
  button {
    width: 100%; 
    margin-bottom: 5px; 
  }
}
.clickable-name {
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.clickable-name:hover {
  background-color: rgba(0, 0, 0, 0.1); 
}
