.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.container {
  padding: 20px;
  max-width: 800px;
 margin-top: 20px;
  background-color: #f9f9f9; 
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

/* h2 { */
  /* text-align: center; 
  color: #3f51b5;
} */

.filter-row {
  margin-bottom: 20px; 
}


table {
  width: 100%; 
}


th.mat-header-cell {
  background-color: #3f51b5; 
  color: white; 
}


td.mat-cell {
  padding: 12px; 
}


button {
  margin-right: 5px; 
  background-color: azure;
}


mat-paginator {
  margin-top: 20px;
}


@media (max-width: 600px) {
  .container {
    padding: 10px; 
  }
  
  button {
    width: 100%; 
    margin-bottom: 5px; 
  }
}
